@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

:root {
    --bgColor: #363346;
    --txtColor: white;
    --highlight: aqua;
    --feintTxt: gray;

}

*:not(i),
::before:not(i),
::after:not(i) {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
}

/* ================================================================================================= */
/* Navbar */
/* ================================================================================================= */

header {
    position: fixed;
    top: 0;
    background: none;
    z-index: +5;
    width: 100vw;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link {
    color: white;
}
.nav-link:hover {
    color: aqua;
}

/* ================================================================================================= */
/* All pages */
/* ================================================================================================= */

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    scroll-behavior: smooth
  }
  
  main > div {
    min-width: 100vw;
    min-height: 100vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../assets/Frame\ 1\ \(1\).png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }

  main > div > div {
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
    position: relative;
  }

  .page-heading {
    position: absolute;
    top: 4rem;
    width: 100vw;
    text-align: center;
  }

/* ================================================================================================= */
/* Home page */
/* ================================================================================================= */
#home {
    background-image: linear-gradient(rgba(0, 251, 255, 0.5), rgba(0, 0, 0, 0.5)),
      url(../assets/Frame\ 1\ \(1\).png);
}

.intro {
    margin-right: 15rem;
    z-index: +3;
}

h6 {
    font-size: 4rem;
    color: white;
}

h6 span {
    color: aqua;
}

.arrow {
    scale: 0.4;
    transform: rotateZ(5deg);
    position: absolute;
    bottom: 5rem;
    left: -2rem;
    margin-left: 18rem;
    stroke-dasharray: 2129;
    stroke-dashoffset: 1000;
}

.intro-btns {
    display: flex;
    gap: 1rem;
    margin-top: 1.5rem;
}

.intro-btns button {
    background: none;
    border: none;
    border: 0.3rem solid;
    border-radius: 0.5rem;
    font-size: 2rem;
    padding: 0 0.4rem;
}

.btn-about button {
    color: white;
}

.btn-about button:hover {
    color: rgb(0, 255, 255);
}

.btn-projects button {
    color: aqua;
}

.btn-projects button:hover {
    color: white;
}

.intro-pic {
    width: 35rem;
    height: 40rem;
    position: absolute;
    background-image: url(../assets/icon.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    right: 0;
    transform: rotateZ(-20deg);
    bottom: 0;
}

/* ================================================================================================= */
/* About page */
/* ================================================================================================= */
.page-heading {
    color: white;
    font-size: xx-large;
}
.about-text {
    width: 70vw;
    font-size: larger;
    color: white;
    justify-self: left;
    align-self: flex-end;
    margin-left: 2rem;
}

.btn-cv {
    background: none;
    border: none;
    border: 0.15rem solid;
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0 0.4rem;
    margin-top: 2rem;
    color: white;
}

.timeline {
    width: 100vw;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 6rem;
    padding: 0 2rem;
}

.tile {
    width: 25rem;
    height: 7rem;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.tile h5 {
    color: white;
    font-size: x-large;
    position: absolute;
    
}

.tile p {
    color: white;
    position: absolute;
    margin: 1rem;
    scale: 0.1;
    opacity: 0;
    transform: 0.3s;
}

.tile:hover h5 {
    animation: jumpHide 0.3s ease-in-out forwards;
    transition: 0.3s;
}

.tile:hover p {
    animation: jumpShow 0.3s ease-in-out forwards;
    transition: 0.3s;
}

.t2 {
    margin-left: 18%;
}

.t3 {
    align-self: center;
}

.t4 {
    margin-left: 55%;
}

.t5 {
    margin-left: 73%;
}

/* ================================================================================================= */
/* Skills page */
/* ================================================================================================= */

.skills-content {
    display: flex;
}

.skills-text {
    font-size: larger;
    color: white;
    width: 50vw;
    padding: 0 5rem;
    border: none;
    border-right: 0.2rem solid white;
    height: 65vh;
    text-align: center;
    display: grid;
    place-items: center;
}

.skills-ratings {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    row-gap: 3rem;
    padding-left: 4rem;
}


.skills-ratings .img{
    border: 0.1rem solid rgba(255, 255, 255, 0.4);
    border-right: 0.1rem solid rgba(255, 255, 255, 0.2);
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    backdrop-filter: blur(2px);
    transition: 0.5s;
    position: relative;
    display: flex;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.05);
}

.skills-ratings .img:hover {
 scale:1.1;   
}

.skills-ratings .img .shine {
    position: absolute;
 width: 5rem;
 height: 100%;
 background: linear-gradient(0.25turn, #ffffff00, #ffffff41, #ffffff00);
 transform: skewX(50deg) translateX(15rem);
 transition: 0.6s;
 z-index: +3;
}

.skills-ratings .img:hover .shine {
    transform: skewX(50deg) translateX(-12rem);
    transition: 0.6s;
}


/* ================================================================================================= */
/* Projects page */
/* ================================================================================================= */

.carousel {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item {
    position: relative;
    padding: 10rem 0;
}

.project-heading {
    text-align: center;
    font-size: 3rem;
    color: white;
}

.project {
    height: 60vh;
    display: flex;
    gap:4rem;
    margin: 0 10rem;
}

.img1 {
    background-image: url(../assets/Project-images/Flip-Card-website.png);
}

.img2 {
    background-image: url(../assets/Project-images/Calculator.png);
}

.img3 {
    background-image: url(../assets/Project-images/POS-products.png);
}

.img4 {
    background-image: url(../assets/Project-images/Brandnews.png);
}

.img5 {
    background-image: url(../assets/Project-images/Animation.png);
}


.proj-img {
    height: 40rem;
    width: 20rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    display: grid;
    margin-left: auto;
    margin-right: 3rem;
    margin-top: 3rem;
    position: relative;
}

.proj-desc {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.proj-btns a{
 text-decoration: none;
 color: white;
 border: 0.2rem solid white;
 border-radius: 0.5rem;
 padding: 0.4rem;
}

.proj-desc p {
    color: white;
    font-size: larger;
}

.carousel-item img {
    position: absolute;
}

.icon-a1 {
    top: 12rem;
    right: 7rem;
    transform: rotateZ(30deg);
    scale: 1.2;
}

.icon-a2 {
    bottom: 8rem;
    right: 13rem;
    transform: rotateZ(-40deg);
}

.icon-a3 {
    bottom: 15rem;
    right: 32rem;
    transform: rotateZ(-25deg);
}

.icon-b1 {
    top: 12rem;
    right:32rem;
    transform: rotateZ(27deg);
    scale: 1.2;
}

.icon-b3 {
    bottom: 13rem;
    right: 13rem;
    transform: rotateZ(-40deg);
    scale: 0.6;
}

.icon-b2 {
    bottom: 15rem;
    right: 38rem;
    transform: rotateZ(-25deg);
}

.icon-b4 {
    bottom: 9rem;
    right: 27rem;
    transform: rotateZ(10deg);
    scale: 0.6;
}

.icon-b2 {
    top: 12rem;
    right: 7rem;
    transform: rotateZ(-24deg);
    scale: 1.2;
}

.icon-c1 {
    bottom: 13rem;
    right: 13rem;
    transform: rotateZ(-40deg);
    scale: 0.6;
}

.icon-c2 {
    top: 12rem;
    right: 7rem;
    transform: rotateZ(30deg);
    scale: 1.2;
}

.icon-c3 {
    bottom: 9rem;
    right: 27rem;
    transform: rotateZ(10deg);
    scale: 0.6;
}

.icon-c4 {
    top: 16rem;
    right:36rem;
    transform: rotateZ(-27deg);
    scale: 0.8;
}

.icon-c5 {
    top: 29rem;
    right:33rem;
    transform: rotateZ(35deg);
    scale: 0.6;
}

.icon-c6 {
    bottom: 5rem;
    right: 3rem;
    transform: rotateZ(-35deg);
    scale: 0.6;
}

.icon-c7 {
    bottom: 9rem;
    right: 42rem;
    transform: rotateZ(-30deg);
    scale: 1.1;
}

.icon-d1 {
    bottom: 13rem;
    right: 19rem;
    transform: rotateZ(30deg);
    scale: 0.8;
}

.icon-d6 {
    top: 12rem;
    right: 15rem;
    transform: rotateZ(-20deg);
    scale: 0.4;
}

.icon-d7 {
    bottom: 9rem;
    right: 27rem;
    transform: rotateZ(10deg);
    scale: 0.6;
}

.icon-d2 {
    top: 16rem;
    right:8rem;
    transform: rotateZ(-27deg);
    scale: 0.8;
}

.icon-d3 {
    top: 20rem;
    right:33rem;
    transform: rotateZ(35deg);
    scale: 0.6;
}

.icon-d5 {
    bottom: 5rem;
    right: 3rem;
    transform: rotateZ(-35deg);
    scale: 0.6;
}

.icon-d4 {
    bottom: 9rem;
    right: 42rem;
    transform: rotateZ(-30deg);
    scale: 1.1;
}

/* ================================================================================================= */
/* Testimonials */
/* ================================================================================================= */

.flip-cards {
    display: flex;
    gap: 2rem;
    height: fit-content;
}

.flipcard-outer, .flipcard-inner {
    width: 17rem;
    height: 23.8rem;
}

.flipcard-outer {
    content-visibility: auto;
    position: relative;
}

.card-shine {
    background: linear-gradient(0.25turn, #ffffff00, #ffffff41, #ffffff00);
    position: absolute;
    width: 2rem;
    height: 100%;
    top: 0;
    right: 0;
    transform: skewX(55deg) translateX(19rem);
    z-index: +3;


}
.flipcard-outer:hover .card-shine {
    animation: grow 0.4s linear forwards;
    animation-delay: 0.6s;
}

@keyframes grow {
    0%{
        width: 5rem;
        transform: skewX(55deg) translateX(18rem);
    }
    50%{
        width: 10rem;
    }
    100%{
        width: 5rem;
        transform: skewX(55deg) translateX(-34rem);
    }
}

.flipcard-inner {
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border: 0.1rem solid rgba(128, 128, 128, 0.4);
    border-bottom-color: rgba(128, 128, 128, 0.2);
    border-right-color: rgba(128, 128, 128, 0.2);
    border-radius: 10px;
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}

.back img, .front img{
    width: 100%;
}

.flipcard-outer:hover > .flipcard-inner {
    transform: rotateY(180deg);
    border-color: rgba(0, 255, 255, 0.4);
    border-left-color: rgba(0, 255, 255, 0.2);
    border-bottom-color: rgba(0, 255, 255, 0.2);
  }

/* ================================================================================================= */
/* Contact */
/* ================================================================================================= */
.details {
    display: flex;
}


.contact-text {
    width: 40vw;
    padding: 0 5rem;
    display: grid;
    place-items: center;
}

.contact-details {
    width: 15vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}

.contact-form {
    width: 30wv;
}

.contact-text p{
 color: white;
 font-size: larger;
 text-justify: center;
}

.contact-details a {
    text-decoration: none;
    display: flex;
    place-items: center;
    gap: 1rem;
    color: white;
}

.contact-details p {
    color: rgba(255, 255, 255, 0);
    transition: 0.4s;
}

.contact-details a:hover p {
    color: rgba(255, 255, 255, 1);
    transition: 0.4s;
}

.contact-details i {
    color : white
}

form {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.548);
    align-items: center;
    width: 24rem;
    border-radius: 10px;
    padding: 2rem 0 2rem 0;
  }
  
  form div {
    align-items: center;
  }
  
  form div {
    width: 90%;
  }
  
  .form-control,
  .inp {
    border: none;
    border-bottom: 3px solid rgb(255, 255, 255);
    background: none;
    width: 100%;
    color: rgb(255, 255, 255);
    border-radius: 0;
    outline: none;
  }
  
  .form-control:hover,
  .form-control:focus {
    outline: none;
    background: none;
    border-color: aqua;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: white;
  }

  .form-control:focus label {
    background: none;
  }

  form label {
    color: white;
    background: none;
  }
  
  form p {
    align-self: flex-start;
  }
  
  form button {
    background: none;
    border-radius: 5px;
    width: 50%;
    height: 30px;
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
  }
  
  form button:hover {
    border-color: aqua;
    color: aqua;
  }
  
  form button:active {
    width: 48%;
    height: 28px;
  }
  
  form button {
    background: none;
    border-radius: 5px;
    width: 50%;
    height: 30px;
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
  }
  
  form button:hover {
    border-color: aqua;
    color: aqua;
  }
  
  form button:active {
    width: 48%;
    height: 28px;
  }

/* ================================================================================================= */
/* Footer */
/* ================================================================================================= */

footer {
    position: fixed;
    bottom: -10px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    color: white;
  }
  
  .footerimg {
    background-image: url(https://i.postimg.cc/kGJtkkGX/My-project-1-2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 80px;
    bottom: -15px;
    position: fixed;
    margin-bottom: 1rem;
    scale: 1.5;
    left: -3rem;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(186deg) brightness(105%) contrast(101%);
    

  }
  
  .initials {
    display: flex;
    flex-direction: column;
  }
  
  .footer-links {
    display: flex;
    gap: 0.7rem;
    margin-right: 2rem;
  }
  
  .footer-links i {
    scale: 1.1;
    color: white;
    text-decoration: none;
  }
  
  .footer-links i:hover {
    scale: 1.3;
    animation: none;
    animation: iconAqua 1s ease-in-out forwards;
  }
  
  .fa-facebook-f {
    animation: iconsPop 2s ease-in-out infinite;
  }
  .fa-twitter {
    animation: iconsPop 2s 0.3s ease-in-out infinite;
  }
  .fa-linkedin-in {
    animation: iconsPop 2s 0.6s ease-in-out infinite;
  }
  .fa-instagram {
    animation: iconsPop 2s 0.9s ease-in-out infinite;
  }
  
  @keyframes iconAqua {
    100% {
      color: aqua;
      scale: 1.5;
    }
  }
/* ================================================================================================= */
/* Animations */
/* ================================================================================================= */

@keyframes wave {
   0% {
        transform: rotateZ(0);
   }
   10% {
        transform: rotateZ(-40deg) translateX(-4rem);
   }
   30% {
        transform: rotateZ(40deg) translateX(4rem);
   }
   50% {
        transform: rotateZ(-40deg) translateX(-4rem);
   }
   70% {
        transform: rotateZ(40deg) translateX(4rem);
   }
   90% {
        transform: rotateZ(-40deg) translateX(-4rem);
   }
   100% {
    transform: rotateZ(0);
   }

}

@keyframes iconsPop {
    0% {
      scale: 0.8;
    }
    50% {
      scale: 1.5;
    }
    100% {
      scale: 0.8;
    }
  }

@keyframes jumpShow {
    0% {
        scale: 0.1;
        opacity: 0;
    }
    100% {
        scale: 1;
        opacity: 1;
    }
}

@keyframes jumpHide {
    0% {
        scale: 1;
        opacity: 1;
    }
    99% {
        scale: 10;
        opacity: 0;
    }
    100% {
        scale: 1;
        opacity: 0;
    }
}




